<div class="news">
		<h4>
			Title
		</h4>
		<img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt illum, est consequuntur quibusdam, saepe fugit et consequatur quae, voluptate, libero corrupti tempore dolorem distinctio neque voluptas iste temporibus numquam.</p>	
</div>
<div class="news">
		<h4>
			Title
		</h4>
		<img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt illum, est consequuntur quibusdam, saepe fugit et consequatur quae, voluptate, libero corrupti tempore dolorem distinctio neque voluptas iste temporibus numquam.</p>	
</div>