h4{
	text-align: center;
	color: 
}
.news{
	display: inline-block;
	vertical-align: top;
	width: 44%;
	margin: 1%;
	background: #fff;
	padding: 5px;
	text-align: justify;
}
.news>img{
	text-align: center;
	max-height: 300px;
	width: 100%;
}
